.site-header {
    background-color: rgb(155, 93, 231);
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.site-header-content{
    margin: 20px;
}
.profile-image{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    align-self: center;
    box-shadow: rgb(37 16 62) 2px 5px 5px;
}

.body {
    margin:0;
}